
.class{
    padding: 10px;
}
body{
    background-color: rgb(155, 141, 124);
}
.card{
    background-color: antiquewhite;
}
footer{
    background-color: gray;
}
/* img{
    border-radius: 50%;
    width: 200px;

} */
.header{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-left: none;
}

/* #container-1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} */

/*.container h1,.container p,.container img{
    margin: 10px;
    padding: 20px;
} */